* {
  font-family: Helvetica;
  color: #221811;
}

body {
  background-color: #FCEB86
}

h1 {
  text-align: center;
  background-color: #D2B48C;
  padding: 5px;
}

nav {
  text-align: center;
}

footer {
  background-color: #D2B48C;
  text-align: center;
}
